/* reset css */
 * {
 margin:0;
 padding:0;
 }
 body {
 line-height:1;
 font-size:100%;
 font-family: Times new roman, sans-serif;
 color:#5a5a5a;
 }

 #container {
 width:78%;
 margin:0 auto;
 box-shadow:0 0 1em #CCCCCC;
 }
 /* header */
 header {
 padding:20px;
 background-color:background: #3a6186;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
color: white;
 }
 header h1 {
 margin:20px 10px;
 color:#b5b5b5;
 text-decoration: italic;

 }

header h2 {
 margin:20px 10px;
 color:#b5b5b5;
 text-decoration: italic;
 
 }
 
}
 /* navigation */
 /* navigation */
nav{
   background-color:#1f5faa;
 display:block;
 

 }

 nav ul {
 list-style-type:none;
 background-color:;


 }

 nav ul li {
 float:left;


 }
 nav li a {

 padding:15px 30px;
 display:block;
 color:black;
 font-size:14px;
 text-decoration:none;
 font-weight:bold;

 }
 nav .active a,
 nav li a:hover {
 border-top: 4px solid#1EAAA0;
 color: #1EAAA0;


 }

 nav:after, nav:before {
 content:'';
 display:table;
 }
 nav:after {
 clear:both;
 }
 .slide-panel {
 background-color:#eee;
 padding:50px 20px;
 }

 .slide-panel h1 {
 margin-bottom:20px;
 font-size:35px;
 }
 .slide-panel p {
 margin-bottom:20px;
 font-size:18px;
 line-height:25px;
  }
  /* main content */
#main {
 float:left;
 width:60%;
 padding:0 20px;
 margin-left: 25px;
 border-right: 2px solid #1EAAA0;
 }

 #main2 {
 float:left;
 width:80%;
 padding:0 20px;
 margin-left: 25px;
 
}
 /* box */
 .box {
 display:block;
 float:left;
 width:47%;
 box-sizing:border-box;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 padding:0 10px;
 text-align:center;
margin:15px 0px;


 }

 .box h3 {
 
 background-color: background: #3a6186;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #89253e, #3a6186);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #89253e, #3a6186); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
color: white;

 }

 .box p {
 line-height:20px;
 font-size:14px;
 margin-bottom:15px;
 }

 .box img {
 
 vertical-align:middle;
 width: 200px


 }



 .box1 {
 display:block;
 float:left;
 width:100%;
 box-sizing:border-box;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 padding:0 20px;
 text-align: left;
margin:15px 0px;
 }

 .box1 h3 {

 background-color: background: #34e89e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
color: white;
height: 20px;
font-size: 20px;
padding: 10px 5px



 }

 .box1 p {
 line-height:20px;
 font-size:14px;
 margin-bottom:15px;
 padding:20px;

 }

 .box1 img {
 
 vertical-align:middle;
 width: 450px

 }

.blinking{
    animation:blinkingText 1.2s infinite;
    font-size: 30px

}
@keyframes blinkingText{
    0%{     color: red;    }
    49%{    color: red; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}


.border{
	 border:2px solid #eee;
	 border-top:0px;
	 margin-top: 10px

}

.biodata{
  display: block;
  padding-left: 200px
}





 .image-circle {
 border-radius:50%;
 }

 .row {
 margin:0 -10px;
 box-sizing:border-box;
 -moz-box-sizing:border-box;
 -webkit-box-sizing:border-box;
 }

 .row:after, .row:before,
 .entry:after, .entry:before {
 content:'';
 display:table;
 }

 .row:after,
 .entry:after {
 clear:both;
 }

 .divider {
 border:0;
 border-top:1px solid #eeeeee;
 margin:40px 0;
 }

 /* entry */
 .entry {
 margin:15px 0;
 }

 .entry h2 {
 margin-bottom:20px;
 }

 .entry p {
 line-height:25px;
 }

 .entry img {
 float:left;
 border-radius:5px;
 margin-right:15px;
 }

 .entry .right-img {
 float:right;
 }
 /* sidebar area */
 #sidebar {
 float:left;
 width:310px;
 padding:20px;
 }

 .widget-box {
 border:1px solid #eee;
 margin-bottom:20px;
 }

 .widget-box .title {
 padding:10px 16px;
 background-color: background: #34e89e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
 color:#fff;
 }

 .widget-box ul {
 list-style-type:none;
 }

 .widget-box li {
 border-bottom:1px solid #eee;
 }

 .widget-box li a {
 padding:10px 16px;
 color:#333;
 display:block;
 text-decoration:none;
 }

 .widget-box li:hover a {
 background-color:#eee;
 }

 .widget-box p {
 padding:15px;
 line-height:25px;
 }
 /* footer */
footer {
 clear:both;
 background-color:#1d1d1d;
 padding:20px;
 color:#eee;
 }